

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Advencher</title>
    <style>
      * { padding: 0; margin: 0; }
      canvas { background: #eee; display: block; margin: 0 auto;}
    </style>
    <body>

      <canvas id="myCanvas" width="1300" height="500"></canvas>







      <script>
        //캔버스와 그리기도구
        var canvas = document.getElementById("myCanvas");
        var brush = canvas.getContext("2d");
        // 벽 위치 1
        var wall1X = canvas.width/8;
        var wall1Y = canvas.height-499;
        // 벽 위치이동 1
        var dy1 = +2;
        // 벽 크기 1
        var wall1Width = 10;
        var wall1Height = 400;

        //벽 위치 2
        var wall2X = 400;
        var wall2Y = 149;
        //벽 위치이동 2
        var dy2 = +3;
        // 벽 크기 2
        var wall2Width = 20;
        var wall2Height = 350;

        //벽 위치 3
        var wall3X = 450;
        var wall3Y = 200;
        //벽 위치이동 3
        var dy3 = + 4;
        // 벽 크기 3
        var wall3Width = 25;
        var wall3Height = 280;

        //벽 위치 4
        var wall4X = 500;
        var wall4Y = 180;
        //벽 위치이동 4
        var dy4 = + 5;
        // 벽 크기 4
        var wall4Width = 30;
        var wall4Height = 200;

        //벽 위치 5
        var wall5X = 700;
        var wall5Y = 70;
        //벽 위치이동 5
        var dy5 = + 7;
        // 벽 크기 5
        var wall5Width = 40;
        var wall5Height = 200;

        //벽 위치 6
        var wall6X = 800;
        var wall6Y = 250;
        //벽 위치이동 6
        var dy6 = + 8;
        // 벽 크기 6
        var wall6Width = 40;
        var wall6Height = 200;

        //벽 위치 7
        var wall7X = 1000;
        var wall7Y = 200;
        //벽 위치이동 7
        var dy7 = + 15;
        // 벽 크기 7
        var wall7Width = 20;
        var wall7Height = 100;

        // 주인공위치
        var heroX = 30;
        var heroY = 230;
        var heroWidth = 20;
        var heroHeight = 20;
        // 이동
        var upPressed = false;
        var downPressed = false;
        var rightPressed = false;
        var leftPressed = false;
        //승리블럭 위치
        var winX = 1200;
        var winY = 220;
        var winWidth = 30;
        var winHeight = 30;

        document.addEventListener("keydown", keyDown, false);
        document.addEventListener("keyup", keyUp, false);

        function hero() { //주인공
          brush.beginPath();
          brush.rect(heroX, heroY, heroWidth, heroHeight);
          brush.fillStyle = "skyblue";
          brush.fill();
          brush.closePath();
        }

        function map() { //맵
          brush.beginPath();
          brush.rect(0, 0, 1300, 500);
          brush.strokeStyle = "rgba(0, 0, 255, 0.5)";
          brush.stroke();
          brush.closePath();
        }

        function wall1() { //움직이는벽
          brush.clearRect(0, 0, canvas.width, canvas.height)
          brush.beginPath();
          brush.rect(wall1X, wall1Y, wall1Width, wall1Height);
          brush.fillStyle = "green";
          brush.fill();
          brush.closePath();
          wall1Y = wall1Y + dy1;
        }

        function wall2() {
          brush.beginPath();
          brush.rect(wall2X, wall2Y, wall2Width, wall2Height);
          brush.fillStyle = "yellow";
          brush.fill();
          brush.closePath();
          wall2Y = wall2Y + dy2;
        }

        function wall3() {
          brush.beginPath();
          brush.rect(wall3X, wall3Y, wall3Width, wall3Height);
          brush.fillStyle = "yellow";
          brush.fill();
          brush.closePath();
          wall3Y = wall3Y + dy3;
        }

        function wall4() {
          brush.beginPath();
          brush.rect(wall4X, wall4Y, wall4Width, wall4Height);
          brush.fillStyle = "yellow";
          brush.fill();
          brush.closePath();
          wall4Y = wall4Y + dy4;
        }

        function wall5() {
          brush.beginPath();
          brush.rect(wall5X, wall5Y, wall5Width, wall5Height);
          brush.fillStyle = "orange";
          brush.fill();
          brush.closePath();
          wall5Y = wall5Y + dy5;
        }

        function wall6() {
          brush.beginPath();
          brush.rect(wall6X, wall6Y, wall6Width, wall6Height);
          brush.fillStyle = "orange";
          brush.fill();
          brush.closePath();
          wall6Y = wall6Y + dy6;
        }

        function wall7() {
          brush.beginPath();
          brush.rect(wall7X, wall7Y, wall7Width, wall7Height);
          brush.fillStyle = "red";
          brush.fill();
          brush.closePath();
          wall7Y = wall7Y + dy7;
        }

        function winBlock() { //골인지점
          brush.beginPath();
          brush.rect(winX, winY, winWidth, winHeight);
          brush.fillStyle = "skyblue";
          brush.fill();
          brush.closePath();
        }

        function keyDown(e) { //방향키 누르기 이동명령
          if(e.key == "Right" || e.key == "ArrowRight") {
            rightPressed = true;
          }
          else if(e.key == "Left" || e.key == "ArrowLeft") {
            leftPressed = true;
          }
          else if(e.key == "Up" || e.key == "ArrowUp") {
            upPressed = true;
          }
          else if(e.key == "Down" || e.key == "ArrowDown") {
            downPressed = true;
          }
        }

        function keyUp(e) { //방향키 떼기 이동명령 해제
          if(e.key == "Right" || e.key == "ArrowRight") {
            rightPressed = false;
          }
          else if(e.key == "Left" || e.key == "ArrowLeft") {
            leftPressed = false;
          }
          else if(e.key == "Up" || e.key == "ArrowUp") {
            upPressed = false;
          }
          else if(e.key == "Down" || e.key == "ArrowDown") {
            downPressed = false;
          }
        }
        function guide() {
          alert("조작방법 : 방향키\n움직이는 벽에 부딪히면 재시작 됩니다.\n목적지 까지 도달하세요.")
        }

        function draw() {
          wall1();
          wall2();
          wall3();
          wall4();
          wall5();
          wall6();
          wall7();
          hero();
          map();
          winBlock();

          if (heroX + 19 > wall1X && heroX + 19 < wall1X + wall1Width  //1번 벽에 부딪힘
            || heroX > wall1X && heroX < wall1X + wall1Width || heroX + 10 > wall1X && heroX + 10 < wall1X + wall1Width) {
            if (heroY + 19 > wall1Y && heroY + 19 < wall1Y + wall1Height || heroY > wall1Y && heroY < wall1Y + wall1Height) {
              document.location.reload();
              clearInterval(interval);
            }
          }

          if (heroX + 19 > wall2X && heroX + 19 < wall2X + wall2Width  //2번 벽에 부딪힘
            || heroX > wall2X && heroX < wall2X + wall2Width || heroX + 10 > wall2X && heroX + 10 < wall2X + wall2Width) {
            if (heroY + 19 > wall2Y && heroY + 19 < wall2Y + wall2Height || heroY > wall2Y && heroY < wall2Y + wall2Height) {
              document.location.reload();
              clearInterval(interval);
            }
          }

          if (heroX + 19 > wall3X && heroX + 19 < wall3X + wall3Width  //3번 벽에 부딪힘
            || heroX > wall3X && heroX < wall3X + wall3Width || heroX + 10 > wall3X && heroX + 10 < wall3X + wall3Width) {
            if (heroY + 19 > wall3Y && heroY + 19 < wall3Y + wall3Height || heroY > wall3Y && heroY < wall3Y + wall3Height) {
              document.location.reload();
              clearInterval(interval);
            }
          }

          if (heroX + 19 > wall4X && heroX + 19 < wall4X + wall4Width  //4번 벽에 부딪힘
            || heroX > wall4X && heroX < wall4X + wall4Width || heroX + 10 > wall4X && heroX + 10 < wall4X + wall4Width) {
            if (heroY + 19 > wall4Y && heroY + 19 < wall4Y + wall4Height || heroY > wall4Y && heroY < wall4Y + wall4Height) {
              document.location.reload();
              clearInterval(interval);
            }
          }

          if (heroX + 19 > wall5X && heroX + 19 < wall5X + wall5Width  //5번 벽에 부딪힘
            || heroX > wall5X && heroX < wall5X + wall5Width || heroX + 10 > wall5X && heroX + 10 < wall5X + wall5Width) {
            if (heroY + 19 > wall5Y && heroY + 19 < wall5Y + wall5Height || heroY > wall5Y && heroY < wall5Y + wall5Height) {
              document.location.reload();
              clearInterval(interval);
            }
          }

          if (heroX + 19 > wall6X && heroX + 19 < wall6X + wall6Width  //6번 벽에 부딪힘
            || heroX > wall6X && heroX < wall6X + wall6Width || heroX + 10 > wall6X && heroX + 10 < wall6X + wall6Width) {
            if (heroY + 19 > wall6Y && heroY + 19 < wall6Y + wall6Height || heroY > wall6Y && heroY < wall6Y + wall6Height) {
              document.location.reload();
              clearInterval(interval);
            }
          }

          if (heroX + 19 > wall7X && heroX + 19 < wall7X + wall7Width  //7번 벽에 부딪힘
            || heroX > wall7X && heroX < wall7X + wall7Width || heroX + 10 > wall7X && heroX + 10 < wall7X + wall7Width) {
            if (heroY + 19 > wall7Y && heroY + 19 < wall7Y + wall7Height || heroY > wall7Y && heroY < wall7Y + wall7Height) {
              document.location.reload();
              clearInterval(interval);
            }
          }
          
          if (heroX + 19 > winX && heroX + 19 < winX + winWidth //완주
            || heroX > winX && heroX < winX + winWidth || heroX + 10 > winX && heroX + 10 < winX + winWidth) {
            if (heroY + 19 > winY && heroY + 19 < winY + winHeight || heroY > winY && heroY < winY + winHeight) {
              heroX = 30;
              alert("더 어려워집니다.")
              dy1 = dy1 * 1.5
              dy2 = dy2 * 2
              dy3 = dy3 * 2
              dy4 = dy4 * 2
              dy5 = dy5 * 2
              dy6 = dy6 * 2
              dy7 = dy7 * 2
              rightPressed = false;
              leftPressed = false;
              upPressed = false;
              downPressed = false;
            }
          }

          if(wall1Y + dy1 > canvas.height-wall1Height || wall1Y == canvas.height - 499) { // 벽1 튕기기
            dy1 = -dy1;
          }
          if(wall2Y + dy2 > canvas.height-wall2Height || wall2Y < canvas.height - 499) { // 벽2 튕기기
            dy2 = -dy2;
          }
          
          if(wall3Y + dy3 > canvas.height-wall3Height || wall3Y < canvas.height - 499) { // 벽3 튕기기
            dy3 = -dy3;
          }
          
          if(wall4Y + dy4 > canvas.height-wall4Height || wall4Y < canvas.height - 499) { // 벽4 튕기기
            dy4 = -dy4;
          }
          
          if(wall5Y + dy5 > canvas.height-wall5Height || wall5Y < canvas.height - 499) { // 벽5 튕기기
            dy5 = -dy5;
          }

          if(wall6Y + dy6 > canvas.height-wall6Height || wall6Y < canvas.height - 499) { // 벽6 튕기기
            dy6 = -dy6;
          }

          if(wall7Y + dy7 > canvas.height-wall7Height || wall7Y < canvas.height - 499) { // 벽7 튕기기
            dy7 = -dy7;
          }

          if(rightPressed) {
            heroX = heroX + 2;
            if (heroX + heroWidth > canvas.width){
              heroX = heroX - 2;
            }
          }
          if(leftPressed) {
            heroX = heroX - 2;
            if (heroX < 0) {
              heroX = heroX + 2;
            }
          }
          if(upPressed) {
            heroY = heroY - 2;
            if (heroY < 0) {
              heroY = heroY + 2;
            }
          }
          if(downPressed) {
            heroY = heroY + 2;
            if (heroY + heroHeight > canvas.height) {
              heroY = heroY - 2;
            }
          }
        }
        setInterval(draw, 10);
      </script>
      &emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;<button onclick="guide();">게임 설명</button>
    </body>
  </head>
</html>