{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>게임 모음</title>
    <style>
      body{
        background-color: ivory;
        margin-left: 300px;
      }
    </style>
  </head>

  <body>
    <div>
      <div id="index"></div>
      <script src="{% static "Index.js" %}"></script>
    <ul>
      <li>
        <a href="./advencher/">벽피하기게임</a>
      </li>
      <li>
        <a href="./jirungi/">지렁이게임</a>
      </li>
      <li>
        <a href="../">프로필로 돌아가기</a>
      </li>
    </ul>
    </div>
  </body>
</html>