<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>지렁이</title>
<style>
  * {padding: 0; margin: 0;}
  canvas { background: #eee; display: block; margin: 0 auto;}
  body{
    background-color: ivory;
  }
</style>
</head>
<body>

  <canvas id="myCanvas" width="500" height="500"></canvas>


  <script>
    var canvas = document.getElementById("myCanvas");
    var brush = canvas.getContext("2d");
    var x = 200;
    var y = 250;
    var width = 10;
    var height = 10;
    var xp = 10;
    var yp = -10;
    var upPressed = false;
    var downPressed = false;
    var rightPressed = false;
    var leftPressed = false
    var pointX = Math.floor((Math.random() * 489));
    var pointY = Math.floor((Math.random() * 489));
    var pointWidth = 10;
    var pointHeight = 10;
    var score = 0;
    var tailCount = 0;
    var tailX = null;
    var tailY = null;
    var tail2X = null;
    var tail2Y = null;
    var tail3X = null;
    var tail3Y = null;
    var tail4X = null;
    var tail4Y = null;
    var tail5X = null;
    var tail5Y = null;
    var tail6X = null;
    var tail6Y = null;
    var tail7X = null;
    var tail7Y = null;
    var tail8X = null;
    var tail8Y = null;
    var tail9X = null;
    var tail9Y = null;
    var tail10X = null;
    var tail10Y = null;
    var wallX = 240;
    var wallY = 100;
    var wallWidth = 20;
    var wallHeight = 300;
    var life = 3;
    var round = 100;
    var normal = false;
    var hard = false;
    var game = true;

    document.addEventListener("keydown", keyDown, false);
  

    function worm() {
      brush.beginPath();
      brush.rect(x, y, width, height);
      brush.fillStyle = "red";
      brush.fill();
      brush.closePath();
      //x += xp;
      //y += yp;
    }

    function point() {
      brush.beginPath();
      brush.rect(pointX, pointY, pointWidth, pointHeight);
      brush.fillStyle = "skyblue";
      brush.fill();
      brush.closePath();
    }


    function clear() {
      brush.clearRect(0, 0, canvas.width, canvas.height)
    }

    function scoreView() {
      brush.font = "20px Arial"
      brush.fillText("score: "+score, 8, 20);

    }
    
    function newTail(){
      while (tailCount < score) {
        tailCount += 1
      }
    }

    function tail() {
      brush.beginPath();
      brush.rect(tailX, tailY, width, height);
      brush.fillStyle = "red";
      brush.fill();
      brush.closePath();
    }

    function tail2() {
      brush.beginPath();
      brush.rect(tail2X, tail2Y, width, height);
      brush.fillStyle = "red";
      brush.fill();
      brush.closePath();
    }

    function tail3() {
      brush.beginPath();
      brush.rect(tail3X, tail3Y, width, height);
      brush.fillStyle = "red";
      brush.fill();
      brush.closePath();
    }

    function tail4() {
      brush.beginPath();
      brush.rect(tail4X, tail4Y, width, height);
      brush.fillStyle = "red";
      brush.fill();
      brush.closePath();
    }

    function tail5() {
      brush.beginPath();
      brush.rect(tail5X, tail5Y, width, height);
      brush.fillStyle = "red";
      brush.fill();
      brush.closePath();
    }

    function tail6() {
      brush.beginPath();
      brush.rect(tail6X, tail6Y, width, height);
      brush.fillStyle = "red";
      brush.fill();
      brush.closePath();
    }

    function tail7() {
      brush.beginPath();
      brush.rect(tail7X, tail7Y, width, height);
      brush.fillStyle = "red";
      brush.fill();
      brush.closePath();
    }

    function tail8() {
      brush.beginPath();
      brush.rect(tail8X, tail8Y, width, height);
      brush.fillStyle = "red";
      brush.fill();
      brush.closePath();
    }

    function tail9() {
      brush.beginPath();
      brush.rect(tail9X, tail9Y, width, height);
      brush.fillStyle = "red";
      brush.fill();
      brush.closePath();
    }

    function tail10() {
      brush.beginPath();
      brush.rect(tail10X, tail10Y, width, height);
      brush.fillStyle = "red";
      brush.fill();
      brush.closePath();
    }

    function wall() {
      brush.beginPath();
      brush.rect(wallX, wallY, wallWidth, wallHeight);
      brush.fillStyle = "gray";
      brush.fill();
      brush.closePath();
    }

    function lifeView() {
      brush.font = "20px Arial"
      brush.fillText("life: "+ life, 8, 40);
    }
    function guide() {
      alert("키보드로 조작합니다. 최강의 지렁이가 되세요.\n*주의* 너무 역동적으로 움직이지 마세요.")
    }

    function keyDown(e) {
      if(e.key == "Right" || e.key == "ArrowRight") {
        if(leftPressed == false){
          rightPressed = true;
          leftPressed = false;
          downPressed = false;
          upPressed = false;
        }
      }
      if(e.key == "Left" || e.key == "ArrowLeft") {
        if(rightPressed == false){
          leftPressed = true;
          rightPressed = false;
          upPressed = false;
          downPressed = false;
        }
      }
      if(e.key == "Up" || e.key == "ArrowUp") {
        if(downPressed == false){
          upPressed = true;
          leftPressed = false;
          rightPressed = false;
          downPressed = false;
        }
      }
      if(e.key == "Down" || e.key == "ArrowDown") {
        if(upPressed == false){
          downPressed = true;
          upPressed = false;
          leftPressed = false;
          rightPressed = false;
        }
      }
    }

  //  function text() {
//      if(downPressed == false) {
  //      console.log("hi")
    //  }
    //}


    function draw() {
      brush.clearRect(0, 0, canvas.width, canvas.height);
      worm();
      point();
      scoreView();
      newTail();
      if(score >= 1) {
        tail();
      }
      if(score >= 2) {
        tail2();
      }
      if(score >= 3) {
        tail3();
      }
      if(score >= 4) {
        tail4();
      }
      if(score >= 5) {
        tail5();
      }
      if(score >= 6) {
        tail6();
      }
      if(score >= 7) {
        tail7();
      }
      if(score >= 8) {
        tail8();
      }
      if(score >= 9) {
        tail9();
      }
      if(score >= 10) {
        tail10();
      }
      wall();
      lifeView();

      if (x + 9 > pointX && x + 9 < pointX + pointWidth //완주
        || x > pointX && x < pointX + pointWidth || x + 4 > pointX && x + 4 < pointX + pointWidth) {
        if (y + 9 > pointY && y + 9 < pointY + pointHeight || y > pointY && y < pointY + pointHeight) {
          score += 1
          pointX = Math.floor((Math.random() * 490));
          pointY = Math.floor((Math.random() * 490));
        }
      }
      if (pointX + 9 > wallX && pointX + 9 < wallX + wallWidth //포인트잘못생성시 위치 재설정
        || pointX > wallX && pointX < wallX + wallWidth || pointX + 4 > wallX && pointX + 4 < wallX + wallWidth) {
        if ( pointY + 9 > wallY && pointY + 9 < wallY + wallHeight || pointY > wallY && pointY < wallY + wallHeight) {
          pointX = Math.floor((Math.random() * 490));
          pointY = Math.floor((Math.random() * 490));
        }
      }

      if (x + 9 > wallX && x + 9 < wallX + wallWidth // 벽에닿음
        || x > wallX && x < wallX + wallWidth || x + 4 > wallX && x + 4 < wallX + wallWidth) {
        if ( y + 9 > wallY && y + 9 < wallY + wallHeight || y > wallY && y < wallY + wallHeight) {
          life -= 1
          x = 0;
          y = 0;
        }
      }

      if (x + 9 > tailX && x + 9 < tailX + width // 꼬리1에닿음
        || x > tailX && x < tailX + width || x + 4 > tailX && x + 4 < tailX + width) {
        if ( y + 9 > tailY && y + 9 < tailY + height || y > tailY && y < tailY + height) {
          life -= 1
          x = 0;
          y = 0;
        }
      }
      

      if (x + 9 > tail2X && x + 9 < tail2X + width // 꼬리2에닿음
        || x > tail2X && x < tail2X + width || x + 4 > tail2X && x + 4 < tail2X + width) {
        if ( y + 9 > tail2Y && y + 9 < tail2Y + height || y > tail2Y && y < tail2Y + height) {
          life -= 1
          x = 0;
          y = 0;
        }
      }

      if (x + 9 > tail3X && x + 9 < tail3X + width // 꼬리3에닿음
        || x > tail3X && x < tail3X + width || x + 4 > tail3X && x + 4 < tail3X + width) {
        if ( y + 9 > tail3Y && y + 9 < tail3Y + height || y > tail3Y && y < tail3Y + height) {
          life -= 1
          x = 0;
          y = 0;
        }
      }
      if (x + 9 > tail4X && x + 9 < tail4X + width // 꼬리4에닿음
        || x > tail4X && x < tail4X + width || x + 4 > tail4X && x + 4 < tail4X + width) {
        if ( y + 9 > tail4Y && y + 9 < tail4Y + height || y > tail4Y && y < tail4Y + height) {
          life -= 1
          x = 0;
          y = 0;
        }
      }
      if (x + 9 > tail5X && x + 9 < tail5X + width // 꼬리5에닿음
        || x > tail5X && x < tail5X + width || x + 4 > tail5X && x + 4 < tail5X + width) {
        if ( y + 9 > tail5Y && y + 9 < tail5Y + height || y > tail5Y && y < tail5Y + height) {
          life -= 1
          x = 0;
          y = 0;
        }
      }
      if (x + 9 > tail6X && x + 9 < tail6X + width // 꼬리6에닿음
        || x > tail6X && x < tail6X + width || x + 4 > tail6X && x + 4 < tail6X + width) {
        if ( y + 9 > tail6Y && y + 9 < tail6Y + height || y > tail6Y && y < tail6Y + height) {
          life -= 1
          x = 0;
          y = 0;
        }
      }
      if (x + 9 > tail7X && x + 9 < tail7X + width // 꼬리7에닿음
        || x > tail7X && x < tail7X + width || x + 4 > tail7X && x + 4 < tail7X + width) {
        if ( y + 9 > tail7Y && y + 9 < tail7Y + height || y > tail7Y && y < tail7Y + height) {
          life -= 1
          x = 0;
          y = 0;
        }
      }
      if (x + 9 > tail8X && x + 9 < tail8X + width // 꼬리8에닿음
        || x > tail8X && x < tail8X + width || x + 4 > tail8X && x + 4 < tail8X + width) {
        if ( y + 9 > tail8Y && y + 9 < tail8Y + height || y > tail8Y && y < tail8Y + height) {
          life -= 1
          x = 0;
          y = 0;
        }
      }
      if (x + 9 > tail9X && x + 9 < tail9X + width // 꼬리9에닿음
        || x > tail9X && x < tail9X + width || x + 4 > tail9X && x + 4 < tail9X + width) {
        if ( y + 9 > tail9Y && y + 9 < tail9Y + height || y > tail9Y && y < tail9Y + height) {
          life -= 1
          x = 0;
          y = 0;
        }
      }
      if (x + 9 > tail10X && x + 9 < tail10X + width // 꼬리10에닿음
        || x > tail10X && x < tail10X + width || x + 4 > tail10X && x + 4 < tail10X + width) {
        if ( y + 9 > tail10Y && y + 9 < tail10Y + height || y > tail10Y && y < tail10Y + height) {
          life -= 1
          x = 0;
          y = 0;
        }
      }
      

      if ( life <= 0 ) { //게임끝
        document.location.reload();
        alert("Game Over")
        clearInterval(interval)
      }

      if ( score == 10 && normal == false) { //가
        normal = true;
        setInterval(draw, 100)
      }

      if ( score == 20 && hard == false) {
        hard = true;
        setInterval(draw, 100)
      }

      if ( score == 30 && game == true) {
        game = false
        x = 0;
        y = 0;
        document.location.reload();
        alert("You Win!")
        clearInterval(interval)
      }

      if(rightPressed) {
        tail10X = tail9X
        tail10Y = tail9Y
        tail9X = tail8X
        tail9Y = tail8Y
        tail8X = tail7X
        tail8Y = tail7Y
        tail7X = tail6X
        tail7Y = tail6Y
        tail6X = tail5X
        tail6Y = tail5Y
        tail5X = tail4X
        tail5Y = tail4Y
        tail4X = tail3X
        tail4Y = tail3Y
        tail3X = tail2X
        tail3Y = tail2Y
        tail2X = tailX
        tail2Y = tailY
        tailX = x
        tailY = y
        x += 10;
        if (x + 10 > canvas.width){
          x = 0
        }
      }
      else if(leftPressed) {
        tail10X = tail9X
        tail10Y = tail9Y
        tail9X = tail8X
        tail9Y = tail8Y
        tail8X = tail7X
        tail8Y = tail7Y
        tail7X = tail6X
        tail7Y = tail6Y
        tail6X = tail5X
        tail6Y = tail5Y
        tail5X = tail4X
        tail5Y = tail4Y
        tail4X = tail3X
        tail4Y = tail3Y
        tail3X = tail2X
        tail3Y = tail2Y
        tail2X = tailX
        tail2Y = tailY
        tailX = x 
        tailY = y
        x -= 10;
        if (x - 1 < -3){
          x = x + canvas.width
        }
      }
      else if(upPressed) {
        tail10X = tail9X
        tail10Y = tail9Y
        tail9X = tail8X
        tail9Y = tail8Y
        tail8X = tail7X
        tail8Y = tail7Y
        tail7X = tail6X
        tail7Y = tail6Y
        tail6X = tail5X
        tail6Y = tail5Y
        tail5X = tail4X
        tail5Y = tail4Y
        tail4X = tail3X
        tail4Y = tail3Y
        tail3X = tail2X
        tail3Y = tail2Y
        tail2X = tailX
        tail2Y = tailY
        tailX = x
        tailY = y
        y -= 10;
        if (y - 1 < -3){
          y = y + canvas.height
        }
      }
      else if(downPressed) {
        tail10X = tail9X
        tail10Y = tail9Y
        tail9X = tail8X
        tail9Y = tail8Y
        tail8X = tail7X
        tail8Y = tail7Y
        tail7X = tail6X
        tail7Y = tail6Y
        tail6X = tail5X
        tail6Y = tail5Y
        tail5X = tail4X
        tail5Y = tail4Y
        tail4X = tail3X
        tail4Y = tail3Y
        tail3X = tail2X
        tail3Y = tail2Y
        tail2X = tailX
        tail2Y = tailY
        tailX = x
        tailY = y
        y += 10;
        if (y + 8 > canvas.height){
          y = 0
        }
      }
    }
    setInterval(draw, round)
    //setInterval(clear, 300)
    
  </script>
  <div style="text-align: center;">
    <button onclick="guide();">게임 설명</button>
  </div>
</body>
</html>
